/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=61U0N0kllll7kN7djvjtnbnF24D */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */
.primary * {
    color:#595A07;
}
.primary a:hover {
    color: #FEFFC4;
    background-color: #595A07;
}
.secondary *{
    color:#1E4E06;
}
.secondary a:hover {
    color: #CBF0B9;
    background-color: #1E4E06;
}
.ternary *{
     color:#5B4407;
 }
.ternary a:hover,
nav.side li:hover,
nav.side li:hover a
{
    color: #FFEFC5;
    background-color: #5B4407;
}
.ternary-inv *{
    color: #FFEFC5;
    background-color: #5B4407;
}
.ternary-inv a:hover {
    color:#5B4407;
    background-color: #FFEFC5;
}
.complementary *
{
    color:#9065A6;
}
.complementary a:hover {
    color: #CAABDA;
    background-color: #9065A6;
}

body,
.primary {
    color: #242500;
    background-color: #FEFFC4;
    border-color: #595A07;
}
.primary-inv {
    color: #FEFFC4;
    background-color: #595A07;
    border-color: #A8AA39;
}
.secondary {
    color: #0A2000;
    background-color: #CBF0B9;
    border-color: #1E4E06;
}
.secondary-inv {
    color: #CBF0B9;
    background-color: #1E4E06;
    border-color: #519331;
}
.ternary {
    color: #251B00;
    background-color: #FFEFC5;
    border-color: #5B4407;
}
.ternary-inv {
    color: #FFEFC5 !important;
    background-color: #5B4407;
    border-color: #AA8B39;
}
.complementary {
    color: #110119;
    background-color: #CAABDA;
    border-color: #9065A6;
}
.complementary-inv {
    color: #CAABDA;
    background-color: #110119;
    border-color: #592A71;
}

.color-primary-0 { color: #A8AA39 }	/* Main Primary color */
.color-primary-1 { color: #FEFFC4 }
.color-primary-2 { color: #F7F991 }
.color-primary-3 { color: #595A07 }
.color-primary-4 { color: #242500 }

.color-secondary-1-0 { color: #519331 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #CBF0B9 }
.color-secondary-1-2 { color: #9BD87E }
.color-secondary-1-3 { color: #1E4E06 }
.color-secondary-1-4 { color: #0A2000 }

.color-secondary-2-0 { color: #AA8B39 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFEFC5 }
.color-secondary-2-2 { color: #F9DD92 }
.color-secondary-2-3 { color: #5B4407 }
.color-secondary-2-4 { color: #251B00 }

.color-complement-0 { color: #592A71 }	/* Main Complement color */
.color-complement-1 { color: #CAABDA }
.color-complement-2 { color: #9065A6 }
.color-complement-3 { color: #2B083C }
.color-complement-4 { color: #110119 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(168,170, 57,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(254,255,196,1) }
.rgba-primary-2 { color: rgba(247,249,145,1) }
.rgba-primary-3 { color: rgba( 89, 90,  7,1) }
.rgba-primary-4 { color: rgba( 36, 37,  0,1) }

.rgba-secondary-1-0 { color: rgba( 81,147, 49,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(203,240,185,1) }
.rgba-secondary-1-2 { color: rgba(155,216,126,1) }
.rgba-secondary-1-3 { color: rgba( 30, 78,  6,1) }
.rgba-secondary-1-4 { color: rgba( 10, 32,  0,1) }

.rgba-secondary-2-0 { color: rgba(170,139, 57,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(255,239,197,1) }
.rgba-secondary-2-2 { color: rgba(249,221,146,1) }
.rgba-secondary-2-3 { color: rgba( 91, 68,  7,1) }
.rgba-secondary-2-4 { color: rgba( 37, 27,  0,1) }

.rgba-complement-0 { color: rgba( 89, 42,113,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba(202,171,218,1) }
.rgba-complement-2 { color: rgba(144,101,166,1) }
.rgba-complement-3 { color: rgba( 43,  8, 60,1) }
.rgba-complement-4 { color: rgba( 17,  1, 25,1) }



/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */
